@import url(catalog.css);

.head-nav {
  width: 1920px;
  height: 696px;


  .headcontiner {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 1816px;

    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 88px;
    gap: 111px;
    position: absolute;
    left: 0px;
    top: -2px;

    .nav-brend {
      display: flex;
    }

    .logotext {
      background: linear-gradient(50deg, #fb3c00, #ffb800);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Golos Text', sans-serif;
      padding-left: 10px;
      font-weight: 700;
      font-size: 1.8rem;
    }

    .logoo {
      vertical-align: middle;
    }

    .deleveryadress {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icon {
        display: flex;
      }

      .deleveryto {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 100%;
        align-items: center;
        font-family: 'Source Sans Pro', sans-serif;
      }

      .text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        font-family: 'Open Sans', sans-serif;

      }
    }

    .searchloginbutton {
      display: flex;
      flex-direction: row;
      align-items: center;

      .search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .searchtext {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: #424242;
        padding-left: 9px;
        text-align: center;
      }

      .login {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        padding-right: 20px;
        margin-left: 24px;
        box-sizing: border-box;
        box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
        border-radius: 8px;
        width: 110px;
        height: 46px;
        border: none;

        .logintext {
          padding-left: 15px;
          color: rgba(255, 184, 0, 1);
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          font-size: 18px;
          line-height: 100%;
          padding-bottom: 4px;
        }
      }
    }
  }

  .heroContiner {
    background: url("herobgmain.png");
    position: absolute;
    width: 1920px;
    height: 620px;
    left: 0px;
    top: 76px;

    .heroTitle {
      font-size: 88px;
      color: aliceblue;
      padding-top: 99px;
      font-family: 'Source Sans Pro', sans-serif;
      margin-left: 220px;
    }

    .heroTitle2 {
      font-size: 22px;
      font-family: "Source Code Pro", monospace;
      line-height: 26px;
      line-height: 120%;
      margin-left: 220px;
    }

    .card {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      width: 650px;
      height: 178px;
      background-color: #ffffff;
      margin-top: 50px;
      border-radius: 16px;
      margin-left: 220px;

      .top {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgb(230, 213, 213);
        width: 650px;
        height: 97.5px;

        .tab1 {
          width: 148px;
          height: 38px;
          background: #f172281a;
          margin-left: 24px;
          margin-top: 24px;
          border-radius: 8px;
          display: flex;

          .icon {
            width: 23px;
            height: 18px;
            padding-left: 20px;
            padding-top: 10px;
            display: flex;
          }

          .text {
            width: 68px;
            height: 18px;
            color: #f17228;
            font-weight: 700;
            font-size: 16px;
            padding-left: 10px;
            padding-top: 8px;
            font-family: 'Source Code Pro', monospace;
          }
        }

        .tab2 {
          width: 129px;
          height: 38px;
          margin-top: 32px;
          padding-left: 30px;
          display: flex;

          .text {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            padding-left: 10px;
            color: rgba(117, 117, 117, 1);
          }
        }
      }
    }

    .buttom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .textfield-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0px;
        height: 70px;
        width: 620px;
        padding-left: 20px;
        padding-top: 8px;
      }

      .textfield {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: rgba(245, 245, 245, 1);
        width: 470px;
        height: 40px;
        border-radius: 8px;
        padding-top: 7px;
        padding-left: 16px;

        .inputtext {
          font-family: 'Open Sans';
          font-weight: 400;
          font-size: 18px;
          padding-left: 8px;
          padding-bottom: 6px;
          color: rgba(158, 158, 158, 1);

        }
      }

      .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 43px;
        border-style: none;
        background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
        border-radius: 8px;
        margin-left: 15px;

        .buttontext {
          font-family: 'Source Sans Pro';
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          text-align: center;
          color: white;
          padding-left: 8px;
          padding-bottom: 5px;
        }
      }
    }
  }
}

.flash-deals {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 190px;
  padding-top: 120px;
  gap: 16px;
  width: 1475.65px;
  height: 516px;
  justify-content: space-between;

  .flashdeals-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 356.91px;
    height: 415px;

    .food-photo {
      width: 356.91px;
      height: 301px;
      background: #FFFFFF;
      border-radius: 16px;
      position: relative;

      .fp {
        img {
          width: 361px;
        }
      }

      .discount {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 83px;
        left: 0px;
        top: 219px;
        background: rgba(255, 179, 14, 1);
        border-radius: 0px 32px 0px 0px;
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;

        .number {
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 68px;
          line-height: 106%;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          padding-left: 4px
        }

        .percentage-symbol {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 60px;
          height: 59px;
          margin-left: 5px;

          .percent {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 120%;
            color: #FFFFFF;
            margin-top: 3px;
          }

          .off {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 120%;
            color: #FFFFFF;
          }
        }
      }
    }

    .texts-badge {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
      width: 204px;
      height: 82px;

      .greys-vage {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 120%;
        color: rgba(66, 66, 66, 1);
      }

      .frame {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background: rgba(241, 114, 40, 0.2);
        border-radius: 8px;
        gap: 10px;
        width: 204px;
        height: 42px;
        margin-top: 7px;

        .remaining {
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 900;
          font-size: 22px;
          line-height: 120%;
          color: #F17228;
          padding-top: 5px;
          padding-left: 10px;
          padding: 8px 16px;

        }
      }
    }
  }
}

.HowDoesItWork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
  height: 518px;
  gap: 71px;
  margin-top: 40px;

  .main-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    color: rgba(241, 114, 40, 1);
    text-align: center;
  }

  .features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 1384px;
    height: 239px;


    .frame1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 307px;
      height: 323px;
      gap: 41px;

      .icon {
        width: 168px;
      }

      .title {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        color: rgba(67, 67, 67, 1);
        text-align: center;
      }

      .body {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        align-items: stretch;
        color: rgba(158, 158, 158, 1);
        padding-top: 10px;
      }
    }
  }
}

.popularitems {
  width: 1924px;
  height: 605px;
  margin-top: 40px;

  .sliderbutton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 1504px;
    position: absolute;
    width: 1724px;
    height: 76px;
    left: 99px;
    padding-top: 256px;

    button {
      border-style: none;
      background-color: #FFFFFF;
    }
  }

  .title-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    left: 221px;
    gap: 88px;
    position: absolute;
    width: 1481px;
    height: 605px;

    .cards {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 16px;
      width: 1481px;
      height: 469px;
    }

    .c1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;
      width: 283.4px;
      height: 469px;

      .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 21px 48px;
        margin-top: 7px;
        gap: 10px;
        width: 283.4px;
        height: 60px;
        background: #F17228;
        box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 20px 40px rgba(250, 99, 35, 0.24);
        border-radius: 5px;
        border-style: none;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: center;
      }
    }

    .title {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 43px;
      line-height: 112%;
      text-align: center;

      .Name-Location-Price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        align-self: stretch;
        gap: 8px;
        width: 283.4px;
        height: 94px;

        .Name {
          color: rgba(66, 66, 66, 1);
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 120%;
          padding-top: 3px;
        }

        .Location {
          img {
            width: 142px;
          }
        }

        .Price {
          padding-left: 5px;
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 900;
          font-size: 22px;
          line-height: 120%;
          color: rgba(33, 33, 33, 1);
        }
      }
    }
  }
}

.Featured-Restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 88px;
  width: 1476px;
  height: 1343px;
  padding-top: 50px;
  margin-left: 225px;

  p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #212121;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 48px;
    gap: 10px;
    width: 178px;
    height: 60px;
    background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 14px;
    border-style: none;
    margin-top: 15px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
}

.cta-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1922px;
  height: 1336px;
  margin-left: 20px;
  padding-top: 70px;

  .cta {
    background: url("CTA.png");
    background-repeat: round;
    width: 1920px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .text-button {
      width: 728px;
    }

    .text {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 900;
      font-size: 57px;
      line-height: 97.5%;
      text-align: center;
      color: #FFFFFF;
    }

    button {
      background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
      box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
      border-radius: 7px;
      width: 233px;
      height: 60px;
      border-style: none;
      margin-top: 18px;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 100%;
      color: #FFFFFF;

    }
  }

  .footer {
    width: 1922px;
    height: 936px;
    background: #212121;

    .our-top-cities {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 82%;
      height: 290px;
      gap: 45px;
      margin-left: 100px;
      margin-top: 45px;

      p {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        color: #FFFFFF;
      }

      .items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 150px;

        ul {
          padding-inline-start: 0px;

          li {
            list-style: none;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: rgba(245, 245, 245, 1);
            margin: 10px;
          }
        }
      }
    }

    .menu-subs-rights {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 30px;
      width: 100%;
      height: 350px;
      margin-left: 100px;

      hr {
        border: 1px solid #424242;
        width: 739px;
        height: 0px;
        margin-left: 110px
      }

      .menu-subs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 149px;
        width: 90%;
        height: 290px;

        .menu {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0px;
          gap: 53px;
          width: 58%;
          height: 190px;

          .items {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;

            ul {
              padding-inline-start: 0;

              li {
                list-style: none;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                color: #F5F5F5;
                margin: 10px;
              }
            }
          }

          p {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 120%;
            color: #FFFFFF;
            margin-left: 10px;
          }
        }

        .follow-subs {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 43px;
          width: 500px;
          height: 236px;

          .follow {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 14px;
            width: 90px;
            height: 90px;

            p {
              font-family: 'Source Sans Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 100%;
              color: rgb(124, 121, 121);

            }
          }

          .subs {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 20px;
            width: 500px;

            .input-button {
              display: flex;
              gap: 16px;
            }

            p {
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 120%;
              color: #BBBBBB;

            }

            input {
              padding: 7px 0px 8px 16px;
              gap: 10px;
              width: 334px;
              height: 42px;
              background: #424242;
              border-radius: 4px;
              border-style: none;
            }

            ::placeholder {
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 140%;
              font-family: 'Open Sans';
              color: #ADADAD;
            }

            button {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              width: 133px;
              height: 58px;
              background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
              box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
              border-radius: 8px;
              border-style: none;
              color: #FFFFFF;
              font-family: 'Source Sans Pro';
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 100%;
            }
          }
        }
      }

      .rights {
        display: flex;
        gap: 10px;
        align-items: flex-start;

        p {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 120%;
          color: #F5F5F5;
        }
      }
    }
  }
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 33px;
  width: 1518px;
  height: 990px;
  padding-top: 50px;
  margin-left: 224px;

  .card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 357px;
    height: 463px;

    .image-badge {
      position: relative;
    }

    .image-name-review-badge {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      height: 180px;

      .image-name-review {
        display: flex;
        flex-direction: row;
        align-items: center;

        .name-review {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;
          padding-left: 15px;

          img {
            width: 55px;
          }

          .name {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 120%;
          }
        }
      }

      .badge {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 10px;
        width: 196px;
        height: 42px;
        background: rgba(241, 114, 40, 0.2);
        border-radius: 16px;
        margin-top: 40px;

        .text {
          font-family: 'Source Sans Pro';
          color: #F17228;
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 100%;
          margin-top: 10px;
        }
      }

      .badge2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: rgba(121, 185, 60, 0.2);
        border-radius: 8px;
        padding: 8px 16px;
        gap: 10px;
        width: 132px;
        height: 42px;
        margin-top: 35px;

        .text2 {
          font-family: 'Source Sans Pro';
          color: #79B93C;
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .head-nav {
    width: 500px;
    height: 480px;

    .headcontiner {
      gap: 2px;
      padding-left: 10px;
      padding-top: 10px;
      width: 300px;

      .nav-brend {
        flex-direction: column;
      }

      .searchloginbutton {
        .searchtext {
          font-size: 12px;
          padding-left: 2px;
        }

        width: 170px;

        .search {
          img {
            width: 11px;
          }
        }

        .login {
          padding-left: 7px;
          margin-left: 4px;
          width: 74px;
          height: 32px;

          img {
            width: 13px;
          }

          .logintext {
            font-size: 15px;
            padding-left: 9px;
          }

        }
      }

      .deleveryadress {
        .icon {
          img {
            width: 16px;
          }

        }

        .deleveryto {
          font-size: 13px;
        }

        .text {
          font-size: 10px;
          width: 117px;
        }
      }

      .logoo {
        width: 16px;
        margin-left: 18px;
      }

      .logotext {
        font-size: 13px;
        padding-left: 0;
      }
    }

    .heroContiner {
      width: 450px;
      height: 390px;

      .heroTitle {
        font-size: 45px;
        margin-left: 31px;
        padding-top: 27px;
      }

      .heroTitle2 {
        font-size: 13px;
        margin-left: 31px;

      }

      .card {
        width: 370px;
        margin-left: 14px;
      }

      .buttom {
        .textfield-button {
          padding-left: 15px;
        }

        .textfield {
          width: 210px;
          padding-left: 9px;
          padding-top: 0;

          img {
            width: 13px;
          }

          .inputtext {
            font-size: 14px;
          }
        }

        .button {
          width: 117px;
          margin-left: 8px;
        }
      }
    }
  }

  .flash-deals {
    flex-direction: column;
    padding-top: 5px;
    margin-left: auto;
    width: 300px;
    height: 100%;

    .flashdeals-card {
      width: 300px;
      height: auto;

      .food-photo {
        height: 250px;

        .fp {
          img {
            width: 260px;
          }
        }

        .discount {
          width: 98px;
          height: 53px;
          position: relative;

          .percentage-symbol {
            .percent {
              font-size: 22px;
            }
          }

          .number {
            font-size: 28px;
          }
        }
      }

      .texts-badge {
        .frame {
          width: 168px;
          height: 38px;

          .remaining {
            font-size: 16px;
          }
        }

        .greys-vage {
          font-size: 18px;
        }
      }
    }
  }

  .HowDoesItWork {
    flex-direction: column;
    gap: 0;
    height: 100%;

    .main-title {
      font-size: 32px;
    }

    .features {
      width: 490px;
      height: 100%;
      flex-direction: column;

      .frame1 {
        .icon {
          img {
            width: 128px;
          }
        }
.texts{
  position: absolute;
  padding-top: 149px;
  margin-left: -49px;
        .title {
          font-size: 23px;
          margin-left: 53px;
          padding-top: 27px;
        }

        .body {
          font-size: 20px;
          margin-left: 47px;
        }
      }
      }
    }
  }

  .popularitems {
    width: 500px;
    margin-top: 0;

    .sliderbutton {
      display: none;
    }

    .title-cards {
      left: 56px;
     .cards{
      flex-direction: column;
      position: absolute;
     }
    }

  }
  
}