@import url(catalog.css);
.head-nav {
  width: 1920px;
  height: 696px;
}
.head-nav .headcontiner {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 1816px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 88px;
  gap: 111px;
  position: absolute;
  left: 0px;
  top: -2px;
}
.head-nav .headcontiner .logotext {
  background: linear-gradient(50deg, #fb3c00, #ffb800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Golos Text", sans-serif;
  padding-left: 10px;
  font-weight: 700;
  font-size: 1.8rem;
}
.head-nav .headcontiner .logoo {
  vertical-align: middle;
}
.head-nav .headcontiner .deleveryadress {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.head-nav .headcontiner .deleveryadress .icon {
  display: flex;
}
.head-nav .headcontiner .deleveryadress .deleveryto {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}
.head-nav .headcontiner .deleveryadress .text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
.head-nav .headcontiner .searchloginbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.head-nav .headcontiner .searchloginbutton .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.head-nav .headcontiner .searchloginbutton .searchtext {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #424242;
  padding-left: 9px;
  text-align: center;
}
.head-nav .headcontiner .searchloginbutton .login {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 24px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
  border-radius: 8px;
  width: 110px;
  height: 46px;
  border: none;
}
.head-nav .headcontiner .searchloginbutton .login .logintext {
  padding-left: 15px;
  color: rgb(255, 184, 0);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  padding-bottom: 4px;
}
.head-nav .heroContiner {
  background: url("herobgmain.png");
  position: absolute;
  width: 1920px;
  height: 620px;
  left: 0px;
  top: 76px;
}
.head-nav .heroContiner .heroTitle {
  font-size: 88px;
  color: aliceblue;
  padding-top: 99px;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 220px;
}
.head-nav .heroContiner .heroTitle2 {
  font-size: 22px;
  font-family: "Source Code Pro", monospace;
  line-height: 26px;
  line-height: 120%;
  margin-left: 220px;
}
.head-nav .heroContiner .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 650px;
  height: 178px;
  background-color: #ffffff;
  margin-top: 50px;
  border-radius: 16px;
  margin-left: 220px;
}
.head-nav .heroContiner .card .top {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(230, 213, 213);
  width: 650px;
  height: 97.5px;
}
.head-nav .heroContiner .card .top .tab1 {
  width: 148px;
  height: 38px;
  background: rgba(241, 114, 40, 0.1019607843);
  margin-left: 24px;
  margin-top: 24px;
  border-radius: 8px;
  display: flex;
}
.head-nav .heroContiner .card .top .tab1 .icon {
  width: 23px;
  height: 18px;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
}
.head-nav .heroContiner .card .top .tab1 .text {
  width: 68px;
  height: 18px;
  color: #f17228;
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 8px;
  font-family: "Source Code Pro", monospace;
}
.head-nav .heroContiner .card .top .tab2 {
  width: 129px;
  height: 38px;
  margin-top: 32px;
  padding-left: 30px;
  display: flex;
}
.head-nav .heroContiner .card .top .tab2 .text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  padding-left: 10px;
  color: rgb(117, 117, 117);
}
.head-nav .heroContiner .buttom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.head-nav .heroContiner .buttom .textfield-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  height: 70px;
  width: 620px;
  padding-left: 20px;
  padding-top: 8px;
}
.head-nav .heroContiner .buttom .textfield {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(245, 245, 245);
  width: 470px;
  height: 40px;
  border-radius: 8px;
  padding-top: 7px;
  padding-left: 16px;
}
.head-nav .heroContiner .buttom .textfield .inputtext {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  padding-left: 8px;
  padding-bottom: 6px;
  color: rgb(158, 158, 158);
}
.head-nav .heroContiner .buttom .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 43px;
  border-style: none;
  background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
  border-radius: 8px;
  margin-left: 15px;
}
.head-nav .heroContiner .buttom .button .buttontext {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: white;
  padding-left: 8px;
  padding-bottom: 5px;
}

.flash-deals {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 190px;
  padding-top: 120px;
  gap: 16px;
  width: 1475.65px;
  height: 516px;
  justify-content: space-between;
}
.flash-deals .flashdeals-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 267px;
}
.flash-deals .flashdeals-card .food-photo {
  width: 200px;
  height: 169px;
  background: #FFFFFF;
  border-radius: 16px;
}
.flash-deals .flashdeals-card .food-photo .discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 50px;
  background: rgb(255, 179, 14);
  border-radius: 0px 32px 0px 0px;
  position: absolute;
  margin-top: 120px;
}
.flash-deals .flashdeals-card .food-photo .discount .number {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 106%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-left: 4px;
}
.flash-deals .flashdeals-card .food-photo .discount .percentage-symbol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60px;
  height: 45px;
  margin-left: 5px;
}
.flash-deals .flashdeals-card .food-photo .discount .percentage-symbol .percent {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 120%;
  color: #FFFFFF;
  margin-top: 3px;
}
.flash-deals .flashdeals-card .food-photo .discount .percentage-symbol .off {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #FFFFFF;
}
.flash-deals .flashdeals-card .texts-badge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.flash-deals .flashdeals-card .texts-badge .greys-vage {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  color: rgb(66, 66, 66);
}
.flash-deals .flashdeals-card .texts-badge .frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: rgba(241, 114, 40, 0.2);
  border-radius: 8px;
  height: 27px;
  width: 120px;
  margin-top: 7px;
}
.flash-deals .flashdeals-card .texts-badge .frame .remaining {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 120%;
  color: #F17228;
  padding-top: 5px;
  padding-left: 10px;
}

.HowDoesItWork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
  height: 330px;
  margin-top: 40px;
}
.HowDoesItWork .main-title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 112%;
  color: rgb(241, 114, 40);
  text-align: center;
  padding-top: 40px;
}
.HowDoesItWork .features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 740px;
  height: 400px;
  padding-top: 40px;
  padding-left: 10px;
  gap: 30px;
}
.HowDoesItWork .features .frame1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 180px;
}
.HowDoesItWork .features .frame1 .title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: rgb(67, 67, 67);
  text-align: center;
}
.HowDoesItWork .features .frame1 .body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10.7px;
  line-height: 140%;
  text-align: center;
  align-items: stretch;
  color: rgb(158, 158, 158);
  padding-top: 10px;
}

.popularitems {
  height: 400px;
  margin-top: 55px;
}
.popularitems .sliderbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  gap: 925px;
  padding-top: 150px;
  padding-left: 118px;
}
.popularitems .sliderbutton button {
  border-style: none;
  background-color: #FFFFFF;
}
.popularitems .title-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
}
.popularitems .title-cards .c1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.popularitems .title-cards .c1 .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 48px;
  margin-top: 7px;
  gap: 10px;
  width: 162px;
  height: 20px;
  background: #F17228;
  box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 20px 40px rgba(250, 99, 35, 0.24);
  border-radius: 5px;
  border-style: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
  text-align: center;
}
.popularitems .title-cards .title {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 112%;
  text-align: center;
}
.popularitems .title-cards .title .cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.popularitems .title-cards .title .Name-Location-Price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  align-self: stretch;
}
.popularitems .title-cards .title .Name-Location-Price .Name {
  color: rgb(66, 66, 66);
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  padding-top: 3px;
}
.popularitems .title-cards .title .Name-Location-Price .Location {
  padding-left: 4px;
}
.popularitems .title-cards .title .Name-Location-Price .Price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 5px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 120%;
  color: rgb(33, 33, 33);
}
.popularitems .title-cards .cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  padding-top: 20px;
}

.Featured-Restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
  height: 800px;
  padding-top: 50px;
}
.Featured-Restaurants .title {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 112%;
  text-align: center;
  color: #212121;
}
.Featured-Restaurants .cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  height: 900px;
}
.Featured-Restaurants .cards .top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.Featured-Restaurants .cards .div1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 213px;
  height: 300px;
}
.Featured-Restaurants .cards .div1 .photo {
  border-radius: 16px;
}
.Featured-Restaurants .cards .div1 .badge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 100px;
  height: 24px;
  padding-left: 15px;
  padding-top: 10px;
}
.Featured-Restaurants .cards .div1 .image-name-review-badge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  height: 180px;
}
.Featured-Restaurants .cards .div1 .image-name-review-badge .image-name-review {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Featured-Restaurants .cards .div1 .image-name-review-badge .image-name-review .name-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding-left: 15px;
}
.Featured-Restaurants .cards .div1 .image-name-review-badge .image-name-review .name-review .name {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
.Featured-Restaurants .cards .div1 .image-name-review-badge .badge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 59px;
  width: 124px;
  height: 20px;
  background: rgba(241, 114, 40, 0.2);
  border-radius: 8px;
}
.Featured-Restaurants .cards .div1 .image-name-review-badge .badge .text {
  font-family: "Source Sans Pro";
  color: #F17228;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
}
.Featured-Restaurants .cards .div1 .image-name-review-badge .badge2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(121, 185, 60, 0.2);
  border-radius: 8px;
  width: 77px;
  height: 25px;
  margin-top: 22px;
  padding-left: 6px;
}
.Featured-Restaurants .cards .div1 .image-name-review-badge .badge2 .text2 {
  font-family: "Source Sans Pro";
  color: #79B93C;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
}
.Featured-Restaurants .buttom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.Featured-Restaurants button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  width: 120px;
  height: 40px;
  background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
  border-radius: 14px;
  border-style: none;
  margin-top: 15px;
}
.Featured-Restaurants button .text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.cta-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 950px;
  margin-top: 50px;
  width: 100%;
  margin-left: 20px;
}
.cta-footer .cta {
  background: url("CTA.png");
  height: 300px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cta-footer .cta .text-button {
  width: 36%;
}
.cta-footer .cta .text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 97.5%;
  text-align: center;
  color: #FFFFFF;
}
.cta-footer .cta button {
  background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
  border-radius: 7px;
  width: 158px;
  height: 46px;
  border-style: none;
  margin-top: 18px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
}
.cta-footer .footer {
  height: 1200px;
  width: 95%;
  background: #212121;
}
.cta-footer .footer .our-top-cities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 82%;
  height: 290px;
  gap: 45px;
  margin-left: 100px;
  margin-top: 45px;
}
.cta-footer .footer .our-top-cities p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  color: #FFFFFF;
}
.cta-footer .footer .our-top-cities .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
}
.cta-footer .footer .our-top-cities .items ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.cta-footer .footer .our-top-cities .items ul li {
  list-style: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgb(245, 245, 245);
  margin: 10px;
}
.cta-footer .footer .menu-subs-rights {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 100%;
  height: 350px;
  margin-left: 100px;
}
.cta-footer .footer .menu-subs-rights hr {
  border: 1px solid #424242;
  width: 739px;
  height: 0px;
  margin-left: 110px;
}
.cta-footer .footer .menu-subs-rights .menu-subs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 149px;
  width: 90%;
  height: 290px;
}
.cta-footer .footer .menu-subs-rights .menu-subs .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 53px;
  width: 58%;
  height: 190px;
}
.cta-footer .footer .menu-subs-rights .menu-subs .menu .items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.cta-footer .footer .menu-subs-rights .menu-subs .menu .items ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.cta-footer .footer .menu-subs-rights .menu-subs .menu .items ul li {
  list-style: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  color: #F5F5F5;
  margin: 10px;
}
.cta-footer .footer .menu-subs-rights .menu-subs .menu p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: 10px;
}
.cta-footer .footer .menu-subs-rights .menu-subs .follow-subs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 43px;
  width: 500px;
  height: 236px;
}
.cta-footer .footer .menu-subs-rights .menu-subs .follow-subs .follow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 90px;
  height: 90px;
}
.cta-footer .footer .menu-subs-rights .menu-subs .follow-subs .follow p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  color: rgb(124, 121, 121);
}
.cta-footer .footer .menu-subs-rights .menu-subs .follow-subs .subs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 400px;
}
.cta-footer .footer .menu-subs-rights .menu-subs .follow-subs .subs .input-button {
  display: flex;
  gap: 16px;
}
.cta-footer .footer .menu-subs-rights .menu-subs .follow-subs .subs p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #BBBBBB;
}
.cta-footer .footer .menu-subs-rights .menu-subs .follow-subs .subs input {
  width: 220px;
  height: 29px;
  background: #424242;
  padding: 3px 0px 5px 13px;
  border-radius: 4px;
  border-style: none;
}
.cta-footer .footer .menu-subs-rights .menu-subs .follow-subs .subs ::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  font-family: "Open Sans";
  color: #ADADAD;
}
.cta-footer .footer .menu-subs-rights .menu-subs .follow-subs .subs ::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  font-family: "Open Sans";
  color: #ADADAD;
}
.cta-footer .footer .menu-subs-rights .menu-subs .follow-subs .subs button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90px;
  height: 37px;
  background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
}
.cta-footer .footer .menu-subs-rights .rights {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.cta-footer .footer .menu-subs-rights .rights p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: #F5F5F5;
}/*# sourceMappingURL=catalog.css.map */